body, div, p{
	margin: 0;
	padding: 0;
	border: 0;
}

html{
	height: 100%;
}
body{
	min-height: 100%;
}
.container{
	width: 100%;
	display: block;
	text-align: center;
}


.main_header{
	background-color: #EEE;
}

.main_header  #titulo{
    width: auto;
    display: inline-block;
}

.main_header  #logo {
	display: inline-block;
    margin-top: 7px;
}

.main_header  #logo img{
    width: 100px;
}


.main_header  #titulo #textoTitulo{
    position: relative;
    top: -35px;
    font-size: 38px;
    font-weight: bold;
}

main p{
	margin: 18px 0;
	font-size: 20px;
	font-weight: bold;
}

.btn{
	position: relative;
	width: 120px;
	height: 60px;
	display: inline-block;
	margin: 10px 20px;
	text-align: center;
	background-color: #F00;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	background-color: #444;
	color: #FFF; 
}

footer p{
	margin: 6px 0;
}

/* Celular */
@media only screen and (max-width : 480px) {


	.main_header  #logo {
		display: inline-block;
	    margin-top: 4px;
	}

	.main_header  #logo img{
	    width: 38px;
	}


	.main_header  #titulo #textoTitulo{
	    position: relative;
	    top: -12px;
	    font-size: 16px;
	    font-weight: bold;
	}

	footer p{
		margin: 6px 0;
		font-size: 12px;
	}
	 
}
/*Fim Celular */

/* Tablet*/
@media only screen and (min-width : 481px) and (max-width : 768px) {


	.main_header  #logo {
		display: inline-block;
	    margin-top: 4px;
	}

	.main_header  #logo img{
	    width: 68px;
	}


	.main_header  #titulo #textoTitulo{
	    position: relative;
	    top: -24px;
	    font-size: 25px;
	    font-weight: bold;
	}

	main p{
		margin: 14px 0;
		font-size: 20px;
		font-weight: bold;
	}
	 
}
/*Fim Tablet */

/* Desktop*/
@media only screen and (min-width : 769px) {

	.main_header  #logo {
		display: inline-block;
	    margin-top: 7px;
	}

	.main_header  #logo img{
	    width: 100px;
	}


	.main_header  #titulo #textoTitulo{
	    position: relative;
	    top: -35px;
	    font-size: 38px;
	    font-weight: bold;
	}
	 
}
/*Fim Desktop */